html, body {
  height: 100%; }

#cover {
  background: #222 url("../img/letstravel.gif");
  background-size: cover;
  color: black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center; }

.form-group {
  padding-right: 5px; }

#cover-caption {
  width: 100%; }

.form-inline {
  display: flex;
  justify-content: center; }

.display-2 {
  font-weight: bold;
  opacity: .7; }

.display-2:hover {
  opacity: 1;
  text-shadow: 2px 2px 2px black;
}
